/********************************TAG Selectors*****************/

body {
  background-color: aqua;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

img {
  height: 300px;
}

h1 {
  color: green;
}
h3 {
  color: green;
}
/********************************CLASS Selectors*****************/
/* class selectors will have a '.' infront of the class. This allows you to
make more spacific styling choices on website*/
.circular {
  border-radius: 30%;
}

/********************************ID Selectors*****************/
/* use # then the name of the ID. ex: #heading {color: blue;}
Note: Can only have 1 ID on a page.*/
